div {
    width: 100px;
    height:100px;
    border: 2px solid black;
}

div.red {
    background-color: red;
}

div.blue {
    background-color: blue;
}

div.green {
    background-color: green;
}

div.grey {
    background-color: grey;
}

div.yellow {
    background-color: yellow;
}